body {
  margin: 0%;
  padding: 20px;
  font-family: 'Poppins';
}

nav {
  width: 100%;
  overflow: hidden;
}

nav ul {
  padding: 0;
  margin: 50px 300px 20px 150px;
  list-style: none;
  text-align: right;

}

nav li {
  display: inline-block;
}

nav a {
  width: 100%;
  display: block;
  padding: 0px 40px;
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
  text-align: center;
  color: black;
}

nav a:active {
  text-decoration-line: underline;
  text-decoration-color: #d87a4f;
  text-decoration-thickness: 11px;
  text-underline-offset: 12px;
}

.logo img {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
}

.logo h1 {
  font-size: 45px;
  padding: 0;
  margin: 30px 0 0 100px;
  position: absolute;
  font-family: fantasy;
}

footer .design {
  float: right;
  margin: 0 70px 0 0;
}

.fab {
  color: rgb(0, 0, 0, 0.863);
  font-size: 27px;

}

.footer .fa {
  color: rgba(0, 0, 0, 0.863);
  font-size: 27px;
  padding: 5px 10px 0 10px;
  margin-top: 5px;
}

.footer .social {
  display: inline;
}

.footer #copyright {
  float: left;
  margin-top: 10px;
}

.footer #designed {
  float: right;
  margin-top: 10px;
}

.footer span {
  font-size: 25px;
}

.footer {
  padding: 20px 70px 20px 20px;
  text-align: center;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.column-left {
  float: left;
  width: 40%;
  padding: 20px;
  padding-top: 190px;
  font-size: 24px;
}

.column-right {
  float: left;
  width: 60%;
  padding-right: 20px;  
}

#home {
  padding: 60px;
}

h1 .rain {
  font-size: 60px;
  font-weight: 900;
}

.button {
  margin-top: 150px;
  margin-left: 53px;
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 25px;
  cursor: pointer;
  background-color: #f6b400;
  border-radius: 30px 26px 0px 30px;
}

#cook {
  margin-top: 30px;
  font-size: 25px;
  font-weight: 900;
  color: rgb(131, 131, 131);
}

* {
  box-sizing: border-box;
}

.imghome{
  height: 900px;
  width: auto;
  margin-left: 100px;
}

.services .column{
  
}